.card{
    position: relative;
    width: 25rem;
    height: 200px ;
    margin: 10px;
}

.liked{
    background-color: rgb(230, 230, 230);
}

.card-img-left{
    vertical-align: middle;
    height:10rem;
    width: auto;
}

